*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Outfit',sans-serif;

    background:#fff8fb;

    color:#444;
}

.container{

    width:min(500px,90%);

    margin:auto;

    padding:80px 0;

}

h1{

    text-align:center;

    font-size:42px;

    color:#ff6aa6;

    font-weight:700;

}

.subtitle{

    text-align:center;

    color:#888;

    margin-top:8px;

}

.search-area{

    margin-top:50px;

}

input{

    width:100%;

    padding:18px;

    border-radius:18px;

    border:2px solid #ffd2e5;

    font-size:16px;

    transition:.25s;

}

input:focus{

    outline:none;

    border-color:#ff7cb4;

}

button{

    width:100%;

    margin-top:15px;

    padding:18px;

    border:none;

    border-radius:18px;

    background:#ff7cb4;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.25s;

}

button:hover{

    background:#ff5da3;

}

.card{

    margin-top:40px;

    background:white;

    border-radius:24px;

    padding:24px;

    box-shadow:0 15px 40px rgba(0,0,0,.06);

}

.label{

    color:#999;

    font-size:13px;

    margin-top:18px;

}

.value{

    font-weight:500;

    margin-top:4px;

}

.badge{

    display:inline-block;

    margin-top:5px;

    padding:8px 14px;

    border-radius:999px;

    background:#fff2b8;

    color:#876800;

    font-size:14px;

}
